*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/tesla\ foto.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    
}

nav{
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0.4;
    filter: blur();
}

.logo{
    width: 320px;
    cursor: pointer;
}